p {
    size: 20px;
    color: rgba(227, 10, 10, 0.944);
    font: smaller;
}

h1 {
    padding:10px;
    background-color: azure;
    color:brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

h2 {
    padding:20px;
    background-color: blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aquamarine;
}
