p {
    size: 20px;
    color: rgba(227, 10, 10, 0.944);
    font: smaller;
}

h1 {
    background-color: azure;
    color:brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color:aquamarine
}
